<div class="modal-header">
	<h3 class="modal-title">Game intructions</h3>
</div>
<div class="modal-body">
	<p>
		Internet plays game is a multiplayer PVP game. You enter the game by simply going to the URL in the browser.
		Once the page has loaded, you receive a unique player indentity. 
		That identity is used to give you credit for the points you gain or lose.
		<br><br>
		You only get to see the actual state of the game after a successful action (move or reveal).
		Actions take resources and you get 1 resource per second.
	</p>

	<h4>Objective</h4>
	<p>
		Score points by steping on the yellow blob. Avoid steping on the red blob, this resets all your points.
	</p>

	<h4>Controlls</h4>
	<b>Move</b>
	<p>		
		Arrow keys or W, A, S, D (Requires 8 resources)
	</p>
	<b>Reveal</b>
	<p>
		Spacebar (Requires 2 resources)
	</p>
	<h4>Misc</h4>
	<p>
		You will not be able to retrieve the same user if you leave the page. <br>
		You will be kicked from the game if you are AFK for more than 1 minute.
	</p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">OK</button>
</div>